*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color:#ffffff;
    text-align: center;
}
header{
    background-color: red;
}
.title{
    padding: 10px  0;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.colum{
    margin: 40px 0;
    font-size: 1.5rem;
}
.image{
    width: 50%;
    height: 70%;
}

footer{
    background-color: rgba(51, 50, 50, 0.404);
    padding: 20px  0;
}